.pais_contenedor{
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: auto;
	backdrop-filter: blur(6px);
	color: #d3d3d3;
	width: 1000px;
}
.paisdet{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 20%;
}

.paisdet p{
	padding: 10px 40px;
}

.paisdet_img{
	width: 50%;
	margin: auto;
}

.paisdet_img img{
	width: 50%;
}
.logo_img{
	position: absolute;
	left: 5%;
}
.contenedor-turismo{
	border: 1px dashed #fff;
	padding: 20px;
	border-radius: 10px;
}

@media(max-width:1000px ){
	.pais_contenedor{
		width: 100%;
	}
}


@media(max-width:600 ){
	
	.logo_img{
		position: relative;
	}
	
}