.pais_contenedor{
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: auto;
	backdrop-filter: blur(6px);
	color: #d3d3d3;

}
.paisdet{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 30%;
}

.paisdet p{
	padding: 10px 40px;
}

.paisdet_img{
	width: 50%;
	margin: auto;
}

.paisdet_img img{
	width: 100%;
}
.logo_img{
	position: absolute;
	left: 5%;
}


@media(max-width:600 ){
	
	.logo_img{
		position: relative;
	}
}